<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
          "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Coolisf - REST client 0.1">
    <meta name="author" content="Le Tuan Anh <tuananh.ke@gmail.com">
    <link rel="icon" href="../../favicon.ico">
    <!-- Title and styles -->
    <title>Coolisf - REST client 0.1</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Visko -->
    <link rel="stylesheet" href="css/visko2.css" />
  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="isfclient.html">CoolISF - REST client 0.1</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div style="padding: 60px 20px;">
      <div class="row">
        <div class="col-md-6">
	  <!-- Parsing Form -->
          <form style="padding: 20px 3px;">
            <div class="input-group input-group-lg">
              <input class="form-control input-lg" name="input_sentence" id="input_sentence" placeholder="Some dogs bark." value="Some dogs barked." type="text">
              <span class="input-group-addon">Parse Count</span>
              <select id="input_results" name="input_results" class="form-control input-small" title="Maximum parses">
                <option value="1">1</option>
                <option value="5" selected="">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
              </select>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-lg" name="btnParse" id="btnParse" value="parse">Parse</button>
              </span>
            </div>
	  </form>

	  <div id="sentence_text" class="dmrs_sentence_text"></div>

          <!-- Synset Information -->
          <div id="synsets"></div>
	  
          <!-- DMRS column -->
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#dmrs">Visko</a></li>
            <li><a data-toggle="tab" href="#json">JSON</a></li>
          </ul>
          <div class="tab-content">
            <div id="dmrs" class="tab-pane fade in active">
	      <!-- DMRSes container -->
	      <div id="dmrses"></div>
            </div>
            <div id="json" class="tab-pane fade">
              <div id="raws"></div>
            </div>
          </div>
          <!-- End DMRS column -->
        </div>
        <div class="col-md-6">
          <!-- Control Panel and Console -->
          <div id="toolbar" class="input-group" style="padding: 10px 0px;">
	    <div class="input-group-btn">
            <input type="button" class="btn btn-primary" id="btnClearCanvas" name="btnClearCanvas" value="Reset"/>
            <input type="button" class="btn btn-default" id="btnDebug" name="btnDebug" value="Debug"/>
            <button type="button" id="btnClear" name="btnClear" class="btn btn-default">Clear Console</button>
            <button type="button" id="btnHide" name="btnHide" class="btn btn-default">Hide Console</button>
	    </div>
          </div>
          <div id="console" style="overflow: auto; max-height: 80vh;"></div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2012-2017 Le Tuan Anh &lt;tuananh.ke@gmail.com&gt;</p>
      </footer>
    </div> <!-- /container -->
       
    <!-- Bootstrap -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Lodash -->
    <script src="js/lodash.min.js"></script>
    <!-- ShinchanJS scripts -->
    <script src="js/raphael.js"></script>
    <script src="js/console.js"></script>
    <script src="js/shinchan.js"></script>
    <script src="js/shinchan.debug.js"></script>
    <script src="js/visko-2.0.js"></script>
    <!-- Yawol client -->
    <script src="js/yawol.js"></script>
    <!-- Yawol support -->
    <script type="text/template" id="synsetbox_template">
     <div class="synsetbox container-fluid well">
     <div class="row">
     <div class="col-xs-12">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
     </div>
     </div>
     <div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2">
      <label>SynsetID</label>
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2">
      <span class="synsetid"><%= synset.synsetid %></span>                
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2">
      <label>Lemmas</label> <span class="lemma"></span>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6">
      <span class="lemmas"><%= _.join(synset.lemmas, ', ') %></span>
     </div>
     </div>
     <div class="row">
     <div class="col-xs-12 col-md-2">
      <label>Definition</label>
     </div>
     <div class="col-xs-12 col-md-10">
      <span class="definition"><%= synset.definition %></span>
     </div>
     </div>
     <div class="row">
     <div class="col-xs-12 col-md-2">
      <label>Examples</label>
     </div>
     <div class="col-xs-12 col-md-10">
       <span class="examples">
         <% if(synset.examples.length > 0) {  %>
         <ul>
           <% _.each(synset.examples, function(ex){ %>
           <li><%= ex %></li>
           <% }); %>
         </ul>
         <% } %>    
       </span>
     </div>
     </div>
     </div>
    </script>
    <script>
     var yawol;
     var yawol_root = 'http://localhost:5000/yawol/';

     function get_yawol() {
       var yawol = undefined;
       if (yawol == undefined) {
         yawol = new Yawol("synsets", yawol_root, $("#synsetbox_template").html());
       }
       return yawol;
     }

     /** Sample synset link builder **/
     function find_synset(synsetid) {
       return function(){ 
         get_yawol().search_synset(synsetid);
       };
     }
    </script>
    <!-- Console support -->
    <script>
     var console;

     $(window).on('resize', function(){
       update_console();
     });

     function toggleConsole(){
       $("#console").toggle();
       if($("#console").is(":visible")){
         $("#btnHide").text("Hide Console");                
       } 
       else{
         $("#btnHide").text("Show Console");
       }
     }
     
     function update_console(){
       var ch = $(window).height() - 130;
       if (ch < 300){
         ch = 300;
       }
       $("#console").height(ch);
       $("#console").css('max-height', ch);
       //console.writeline("Window's height: " + $(window).height());
     }

     function clear_console() {
       console.clear("CoolISF REST Client - Version 0.1");
       console.writeline();
     }
    </script>
    
    <!-- DMRS related scripts -->
    <script>
     
     function clear_parses(){
       $('#dmrses').empty();
       $('#raws').empty();
     }   

     var json_raw = _.template('<pre><code id="dmrs<%=pid%>_json"><%=json%></code></pre>');

     /**
      * Render a parse
      **/
     function render_json(parse, parseid, container, raw_container){
       if (parseid == undefined) { parseid = 1; }
       if (container == undefined) { container = 'dmrses'; }
       if (raw_container == undefined) { raw_container = 'raws'; }
       // Create a h2 for canvas
       var div_parse = $('<h3></h3>');
       div_parse.text('Parse #' + parseid);
       div_parse.attr('id', 'parse' + parseid);
       $('#' + container).append(div_parse);
       // Create a div for canvas
       var div_canvas = $('<div></div>');
       div_canvas.attr('id', 'dmrs' + parseid + '_canvas');
       $('#dmrses').append(div_canvas);
       dmrs_visko = json2visko(parse, find_synset);
       var dmrs_canvas = new VisualKopasu.DMRSCanvas(dmrs_visko, 'dmrs' + parseid + '_canvas', 'sentence_text');
       dmrs_canvas.visualise();
       // Add JSON raws
       var div_rparse = $('<h3></h3>');
       div_rparse.text('Parse #' + parseid);
       div_rparse.attr('id', 'rparse' + parseid);
       $('#' + raw_container).append(div_rparse);
       var div_raw = $(json_raw({'pid': parseid, 'json': JSON.stringify(parse)}));
       $('#' + raw_container).append(div_raw);
     }

     /** Parse a sentence using RESTful **/
     function do_parse() {
       var sent = $('#input_sentence').val();
       console.header("Sentence: " + sent);
       console.writeline("Server is processing. Please wait ...");
       $.ajax({
         url: 'http://localhost:8000/restisf/parse/',
         dataType: 'jsonp',
         data: {
           'sent': sent,
	   'parse_count': $('#input_results').val(),
	   'tagger': 'lelesk',
	   'grammar': 'ERG'
         },
         success: function(json){
           // Clear previous parses first
           clear_parses();
	   console.writeline("Raw response: " + JSON.stringify(json));
	   $(json['parses']).each(function(idx, parse){
	     pid = idx + 1;
	     // console.writeline("Parse #" + pid + " json: " + JSON.stringify(parse));
	     render_json(parse, pid);  
	   });
         },
         fail: function(jqxhr){
           console.writeline("Request Failed: " + jqxhr.statusText + " | code = " + jqxhr.status);
         }
       });
     }
     
     /** Show debug info **/
     function debug() {
       console.writeline("Debug");
     }
    </script>
    <!-- Document ready -->
    <script>
     $(document).ready(function(){       
       initialise();
     });

     function initialise(){
       // Console support
       console = new Console("console");
       $("#btnClear").click(clear_console);
       $("#btnHide").click(toggleConsole);
       clear_console();
       update_console();
       $('#synset_info').hide();
       
       $("#btnDebug").click(debug);
       $("#btnParse").click(do_parse);
       $("#btnClearCanvas").click(clear_parses);
       // $("#btnHideSynset").click(function(){ $('#synset_info').hide(); });
     }     
    </script>
  </body>
</html>
