<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
          "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Yawol demo client - Version 0.3.1">
    <meta name="author" content="Le Tuan Anh <tuananh.ke@gmail.com">
    <link rel="icon" href="../../favicon.ico">
    <!-- Title and styles -->
    <title>Yawol demo client - Version 0.3.1</title>
    <!-- Bootstrap core CSS -->
    <link href="modules/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="modules/bootstrap-toggle/css/bootstrap-toggle.min.css" />
    <!-- Visko -->
    <link rel="stylesheet" href="css/visko2.css" />
  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="yawol_demo.html">Yawol client - Version 0.3.1</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div style="padding: 60px 20px;">
      <div class="row">
        <div class="col-md-6">
          <!-- Search box -->
          <form style="padding: 20px 3px;" action="#">
            <div class="row">
              <div class="input-group input-group-lg">
                <input class="form-control input-lg" name="query" id="query" placeholder="01775164-v or love or love%2:37:00::" value="01775164-v" type="text">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-lg" name="btnSearch" id="btnSearch" value="parse">Search</button>
                </span>
              </div>
            </div>
            <div class="row" style="padding: 5px;">
              <span class="label label-default">Try these</span>
              <a href="#" id="txtSynsetID">01775164-v</a> | 
              <a href="#" id="txtLemma">love</a> | 
              <a href="#" id="txtSensekey">love%2:37:00::</a>
            </div>
          </form>
          <!-- Synset Information -->
          <div id="synsets"></div>
          <!-- End DMRS column -->
        </div>
        <div class="col-md-6">
          <!-- Control Panel and Console -->
          <div id="toolbar" style="padding: 20px;">
            <div class="row" style="padding: 10px 0px;">
              <div class="input-group input-group-sm">
                <span class="input-group-addon">Yawol URL</span>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Server
                  </button>
                  <ul class="dropdown-menu" id="servers">
                    <li><a>Django</a></li>
                    <li><a>Flask</a></li>
                  </ul>
                </span>
                <input class="form-control input-lg" name="yawol_url" id="yawol_url" placeholder="http://127.0.0.1:5000/yawol/" value="http://127.0.0.1:5000/yawol/" type="text">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" name="btnPing" id="btnPing" value="parse">Ping Server</button>
                </span>
              </div>
            </div>
            <div class="row">
              <button type="button" id="btnReset" name="btnReset" class="btn btn-primary">Reset</button>    
              <button type="button" id="btnClear" name="btnClear" class="btn btn-default">Clear Console</button>
              <input type="checkbox" id="consoletoggle" data-width="100" checked data-toggle="toggle" data-on="Console" data-off="Console"></input>              
            </div>
          </div>
          <div id="console" style="overflow: auto; max-height: 80vh;"></div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2012-2017 Le Tuan Anh &lt;tuananh.ke@gmail.com&gt;</p>
      </footer>
    </div> <!-- /container -->

    <!-- Bootstrap -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="modules/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="modules/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <!-- Others -->
    <script src="js/lodash-4.17.4.min.js"></script>
    <!-- ShinchanJS scripts -->
    <script src="js/raphael-2.2.1.min.js"></script>
    <script src="js/console.js"></script>
    <script src="js/shinchan.js"></script>
    <script src="js/shinchan.debug.js"></script>
    <script src="js/visko-2.0.js"></script>
    <!-- Yawol client -->
    <script src="js/yawol.js"></script>
    <!-- Yawol synsetbox template -->
    <script type="text/template" id="synsetbox_template">
     <div class="synsetbox container-fluid well">
     <div class="row">
     <div class="col-xs-12">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
     </div>
     </div>
     <div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2">
      <label>SynsetID</label>
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2">
      <span class="synsetid"><%= synset.synsetid %></span>                
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2">
      <label>Lemmas</label> <span class="lemma"></span>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6">
      <span class="lemmas"><%= _.join(synset.lemmas, ', ') %></span>
     </div>
     </div>
     <div class="row">
     <div class="col-xs-12 col-md-2">
      <label>Definition</label>
     </div>
     <div class="col-xs-12 col-md-10">
      <span class="definition"><%= synset.definition %></span>
     </div>
     </div>
     <div class="row">
     <div class="col-xs-12 col-md-2">
      <label>Examples</label>
     </div>
     <div class="col-xs-12 col-md-10">
       <span class="examples">
         <% if(synset.examples.length > 0) {  %>
         <ul>
           <% _.each(synset.examples, function(ex){ %>
           <li><%= ex %></li>
           <% }); %>
         </ul>
         <% } %>    
       </span>
     </div>
     </div>
     </div>
    </script>
    
    <!-- Yawol client helper functions -->
    <script>
     var yawol;

     function get_yawol() {
       yawol = undefined;
       if (yawol == undefined) {
         var root = $('#yawol_url').val();
         console.writeline("Yawol root: " + root);
         yawol = new Yawol("synsets", root, $("#synsetbox_template").html());
       }
       return yawol;
     }

     function do_search_local() {
       var synsetid = $('#query').val();
       get_yawol().load_synset(synsetid);
     }

     /**
      * Search synsets using REST API
      **/
     function do_search() {
       var synsetid = $('#query').val();
       get_yawol().search_synset(synsetid);
     }

     function ping_server() {
       get_yawol().version(function(json){
         console.writeline("Product: " + json.product + " " + json.version);
         console.writeline("Server:  " + json.server);
       });
     }
    </script>
    <!-- Document ready -->
    <script>
     
     $(document).ready(function(){       
       initialise();   
     });

     function initialise(){
       // Console support
       console = new Console("console", 220, ".:: Yawol REST Client - Version 0.3.1 ::.<br/>");
       $("#btnClear").click(function() { console.clear(); });
       $(window).on('resize', function() { console.resize(); });
       $('#consoletoggle').change(function(){ console.toggle(); });
       console.clear().resize();

       $('#servers').on('click' ,'li a', function(){
         var server = $(this).text();
         if (server == 'Django'){
           $('#yawol_url').val('http://127.0.0.1:8000/yawol/');
         }
         else if (server == 'Flask'){
           $('#yawol_url').val('http://127.0.0.1:5000/yawol/');
         }
       });
       // Press enter to search
       $('#query').keydown(function(e) {
         if (e.keyCode == 13) {
           do_search();
           return false;
         }
       });
       $('#txtSynsetID').click(function(){ $('#query').val($(this).text()); });
       $('#txtLemma').click(function(){ $('#query').val($(this).text()); });
       $('#txtSensekey').click(function(){ $('#query').val($(this).text()); });
       
       // Synset related features
       $("#btnReset").click(function(){get_yawol().clear();});
       $("#btnSearch").click(function(){do_search();});
       $('#btnPing').click(function(){ping_server();});
     }     
    </script>
  </body>
</html>
